<html>
<head><title>HUHU</title>
<meta http-equiv="Content Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="language" content="de" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
<!-- ###DOKUMENT### begin -->

<div id="wrapper">
	<div id="header"> ###LOGO### </div>
	<div id="top_nav"> ###TOP_NAV### </div>
	<div id="left">
		<div> ###LEFT_NAV### </div>
		<div> ###SEARCH### </div> 
	</div>
	<div id="right"> ###NEWS### </div>
	<div id="center">
		<div id="head">
			###DATE### <br/>
			###BREADCRUMB###
		</div>
		<div> ###CONTENT### </div>
	</div>
	<div id="footer"> ###FOOTER### </div>
</div>
<!-- ###DOKUMENT### end -->
</body>
</html>
